* {
    box-sizing: border-box;
}

:root {
    --dark: #222222;
    --medium: #666666;
    --light: pink;
    --accent1: #FE506D;
}
body {
    margin: 0;
    padding:0 50px 50px;
    background-color: var(--dark);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--light);
}
#board {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--medium);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-content: space-between; 
    justify-content: space-between;
    align-self: center;
    grid-gap: .5rem;
    border: .5rem solid var(--medium);
}
#board > div {
    background-color: var(--light);
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--medium);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board .xBox{
    
}
#board .xBox{
    
}
#board .zero{
    
}
#turn {
    margin-top: 30px;
    font-size: 4rem;
    color: var(--medium);
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    grid-gap: 6px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: .5rem;
}
#turn .xBox, #turn .oBox {
    width: 15.8rem;
    height: auto;
    background-color: var(--light);
    border: .5rem solid var(--medium);
    padding: 20px 0;
    text-align: center;
}
#turn .oBox .active {
    background-color: var(--light);
    border: .5rem solid var(--medium);
}
#turn .oBox .active {
    background-color: var(--light);
    border: .5rem solid var(--medium);
}

button#resetBtn {
    margin-top: 30px;
    width: 32rem;
    height: auto;
    font-size: 2rem;
    background-color: var(--light);
    border: .5rem solid var(--medium);
    color: var(--medium);
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
    align-self: center;
    outline: none;
}
button#resetBtn:hover {
    background-color: var(--medium);
    color: var(--light);
}
#size {
    margin-top: 30px;
    font-size: 2rem;
    color: var(--medium);
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    grid-gap: 6px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: .5rem;
}
#size >div {
    width: 10.335rem;
    height: auto;
    background-color: var(--light);
    border: .5rem solid var(--medium);
    padding: 20px 0;
    text-align: center;
}
#size>div:hover {
    background-color: var(--medium);
    color: var(--light);
}
#size .active{
    background-color: var(--accent1);
    border: .5rem solid var(--medium);
}

