@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --dark: #222222;
    --medium: #666666;
    --light1: #FFE9ED;
    --light2: #D1D1D1;
    
    --accent1: #FE506D;
    --accent2: #50fee1;
}


body {
    margin: 0;
    padding:0 50px 50px;
    background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;;
    color: var(--light1);
}
#board {
    background-color: var(--medium);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-content: space-between; 
    justify-content: space-between;
    align-self: center;
    grid-gap: .5rem;
    border: .5rem solid var(--medium);
}
.seven #board {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
    border: .5rem solid var(--medium);
}
.thirteen #board {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .2rem;
    border: .5rem solid var(--medium);
}
#board > div {
    background-color: var(--light1);
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--medium);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.seven #board > div{
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
}
.thirteen #board > div {
    font-size: 2rem;
    width: 2.2rem;
    height: 2.2rem;

}

#board > div:hover {
    background-color: var(--light2);
}
#board .xBox, #board .xBox:hover{
    background-color: var(--accent1);
    cursor: default;
}
#board .oBox, #board .oBox:hover{
    background-color: var(--accent2);
    cursor: default;
}
#board .zero{
    
}
#turnBox {
    margin-top: 30px;
    font-size: 4rem;
    color: var(--medium);
    align-self: center;
    grid-gap: 6px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: .5rem;
}
#turnBox .xBox, #turnBox .oBox {
    text-transform: uppercase;

    width: 15.8rem;
    height: auto;
    background-color: var(--light1);
    border: .5rem solid var(--medium);
    padding: 20px 0;
    text-align: center;
}
#turnBox .xBox.active {
    background-color: var(--accent1);
    border: .5rem solid var(--medium);
}
#turnBox .oBox.active {
    background-color: var(--accent2);
    border: .5rem solid var(--medium);
}

button#resetBtn {
    margin-top: 30px;
    width: 32rem;
    height: auto;
    font-size: 2rem;
    background-color: var(--light1);
    border: .5rem solid var(--medium);
    color: var(--medium);
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
    align-self: center;
    outline: none;
    cursor: pointer;
}
button#resetBtn:hover {
    background-color: var(--light2);
    color: var(--medium);
}
#size {
    visibility: hidden;
    margin-top: 30px;
    font-size: 2rem;
    color: var(--medium);
    text-transform: uppercase;
    align-self: center;
    grid-gap: 6px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: .5rem;
    cursor: pointer;
}
#size >div {
    width: 10.335rem;
    height: auto;
    background-color: var(--light1);
    border: .5rem solid var(--medium);
    padding: 20px 0;
    text-align: center;
    
}
#size>div:hover {
    background-color: var(--light2);
    color: var(--medium);
}
#size .active{
    background-color: var(--accent1);
    border: .5rem solid var(--medium);
    cursor: default;
}
